{% extends 'base.html.twig' %}

{% block title %} {{ title }} {% endblock %}
{% block body %}

      <section class="infos mt-5">
    <h2>Mon profil</h2>
    <div class="row">
      <div class="col-md-6 img">
        <img src="{{ asset('/img/marsupilami.png') }}" width="200" height="200"  alt="profil marsupilami" class="img-rounded">
      </div>
      <div class="col-md-6 details">
        <blockquote>
          <h5>{{ user.username }}</h5>
          <small><cite title="Source Title">{{ user.age }} ans, de la famille {{ user.family }}<i class="icon-map-marker"></i></cite></small>
        </blockquote>
        <p>
          {{ user.email}} <br>
          race : {{ user.race }} <br>
          nourriture préférée : {{ user.food}}
        </p>
        <a class="btn btn-warning" href="{{ path('security_profil', {'id': user.id }) }}" role="button" >Modifier profil</a>
      </div>
    </div>
  </section>

  <section class="addressbook mt-5">
    <h2>Mon Carnet d'Adresses</h2>

    <div class="row">
      <table id="contacts" class="table table-hover">
        <thead>
          <tr>
            <th scope="col">Prénom</th>
            <th scope="col">Nom</th>
            <th scope="col">Téléphone</th>
            <th scope="col">Email</th>
            <th scope="col">Adresse</th>
            <th scope="col">Date d'ajout</th>
            <th scope="col">Actions</th>
          </tr>
        </thead>
        <tbody>
          {% for contact in contacts %}
            <tr>
              <td>{{ user.contact.firstName }}</td>
              <td>{{ user.contact.lastName }}</td>
              <td>{{ user.contact.phone }}</td>
              <td>{{ user.contact.email }}</td>
              <td>{{ user.contact.address }}</td>
              <td>{{ user.contact.createdAt | date('d/m/Y') }}</td>
              <td>
                <div class="d-flex justify content-center">
                  <a class="btn btn-warning" href=" {{ path('edit_contact', {'id' : contact.id}) }}" role="button" >Modifier</a>
                  <a class="btn btn-danger" href=" {{ path('delete_contact', {'id' : contact.id}) }}" role="button" >supprimer</a>
                </div>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table> 
    </div>
  </section>
{% endblock %}
